<!-- bechnus.com -->
<?php
$key = '5I37V4FYN5IASMFR2PPH1OPH0A0GSCO7'; 
$MID = '000009100931237'; 
$NPRterminal = '52400063'; 
$USDterminal = 'XE000063'; 
$amount = '000000010000';
$nonSecure = 'N';
$url = 'https://hblpgw.2c2p.com/HBLPGW/Payment/Payment/Payment';
$url = 'https://hbl.pgw/payment';
//$currencyCode = '524'; // nepali
$currencyCode = '840'; //dollar

$invoiceNo = str_pad(rand(100000, 99999999999999999999),20,"0",STR_PAD_LEFT); 
$productDesc = 'Test Product'; 
$amount = str_pad((100*100),12,"0",STR_PAD_LEFT); 
$userDefined1 = '2344555'; 

//actual 
$hblUrl = $url; // env('HBL_URL'); 
$hblPaymentGatewayId = $USDterminal; //  env('HBL_PAYMENT_GATEWAY_ID'); 
$merchantId = $MID; // env('HBL_MERCHANT_ID'); 
$currencyCode = $currencyCode; // env('HBL_CURRENCY_CODE'); 
$nonSecure = $nonSecure; // env('HBL_NON_SECURE'); 
$secretKey = $key; // env('HBL_SECRET_KEY'); 

$signatureString = $merchantId.$invoiceNo.$amount.$currencyCode.$nonSecure; 
// echo urlencode($signatureString); 

$signData = hash_hmac('SHA256', $signatureString, $secretKey, false);   
$signData = strtoupper($signData);   
// echo urlencode($signData); 
?> 


<form method="post" action="<?php echo $hblUrl ?>" id="creditCardForm" class="display-none payForm"> 
  <input type="" id="paymentGatewayID" name="paymentGatewayID" value="<?php echo $merchantId ?>"/> 
  <input type="" id="invoiceNo" name="invoiceNo" value="<?php echo $invoiceNo ?>"/> 
  <input type="" id="productDesc" name="productDesc" value="<?php echo $productDesc ?>"/> 
  <input type="" id="amount" name="amount" value="<?php echo $amount ?>"/> 
  <input type="" id="currencyCode" name="currencyCode" value="<?php echo $currencyCode ?>"/> 
  <input type="" id="userDefined1" name="userDefined1" value="<?php echo $userDefined1 ?>"/> 
  <input type="" id="nonSecure" name="nonSecure" value="<?php echo $nonSecure ?>"/> 
  <input type="" id="hashValue" name="hashValue" value="<?php echo $signData ?>"/> 

  <div class="row"> 
<div class="col-md-12"> 
 <button class="btn btn-danger btn-step">Confirm</button> 
</div> 
</div> 

</form> 

